@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cormorant+Upright:wght@300;400;700&display=swap");
@import url(/src/styles/reset.css);
@import url(/src/styles/header.css);

.App {
  background-image: url(./images/summer-solstice-invite-banner.png);
  background-size: cover;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
  width: 1200px;
}

h3 {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #16171b;
}

h4 {
  font-family: "Cormorant Upright", serif;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #16171b;
}

p {
  font-family: "Cormorant Upright", serif;
  color: #16171b;
  margin: 0;
  font-weight: 700;
}

.card {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(10px 10px 4px #16171b);
  gap: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-auto-rows: min-content;
  width: 100%;
  grid-gap: 20px;
}

.contact-icon {
  height: 15px;
  width: auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul {
  list-style: none;
  font-family: "Cormorant Upright", serif;
  color: #16171b;
  font-weight: 700;
  padding-left: 0;
}

.description {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 14;
}

.wear {
  grid-row-start: 15;
  grid-row-end: span 8;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.activities {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 15;
  grid-row-end: span 8;
}

.rsvp {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 14;
}

.contact {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 15;
  grid-row-end: span 5;
}

.addto {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 20;
  grid-row-end: span 3;
}

.help {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 23;
  grid-row-end: span 7;
}
